* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    background-color: crimson;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}


header{
    display: block;
    width: 100%;
    max-width: 100%;
    height: 230px;
    max-height: 230px;
    background-color: aquamarine;
}
header a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.container-up{
    width: 100%;
    height: 130px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-between;
}

.container-up picture, div{
    width: 50%;
    max-width: 50%;
    height: 130px;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
}

.container-up .container-left-logo img{
    width: 120px;
    max-width: 120px;
    height: 120px;
    max-height: 120px;
    margin-left: 20px;
}

.container-up .container-right-login {
    justify-content:right;
}

.container-up .container-right-login span, a{
    margin-right: 30px;
}

.container-up .container-right-login span{
    width: 200px;
    min-width: 150px;
    height: 30px;
    background-color: white;
    display: flex;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    justify-content: right;
}
.container-up .container-right-login .container-icon-lupa{
    width: 20%;
    height: 30px;
    background-color: rgb(125, 110, 231);
    text-align: center;
    line-height: 40px;
    min-width: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.container-up .container-right-login .container-icon-lupa img{
    width: 20px;
    height: 20px;
}

.container-up .container-right-login span input{
    width: 70%;
    height: 30px;
    border: none;
    outline: none;
}


.container-down{
    width: 100%;
    height: 100px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-down ul{
    width: 85%;
    max-width: 85%;
    height: 70px;
    background-color: rgb(125, 110, 231);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 0.5px solid #222;
}

.container-down ul li{
    list-style: none;
    margin: 20px;
    max-width: 10rem;
    background-color: cornflowerblue;
    padding: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.container-down ul li a {
    width:95%;
    display: flex;
    justify-content: center;
}














